<section>
    @for(Margaritas of margaritas; track $index){
        <div class="titulo">
            <h2>{{Margaritas.strDrink}}</h2>
            <h3>Categoria: {{Margaritas.strCategory}}</h3>
        </div>
        
        <div class="descripcion">
            <p><span>Instrucciones: </span>{{Margaritas.strInstructions}}</p>
        </div>
        <div class="ingredientes">
            <h4>Ingredientes</h4>
            <div class="lista">
                <li>{{Margaritas.strIngredient1}}</li>
                <li>{{Margaritas.strIngredient2}}</li>
                <li>{{Margaritas.strIngredient4}}</li>
            </div>
            <div class="img">
                <img [src]="Margaritas.strDrinkThumb" alt="">
            </div>
        </div>
        <hr>
    }
</section>